<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin dashboard</title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>
<aside>
    <div class="navigation">
        <ul>
            <li><button>Категории</button></li>
            <li><button>Пользователи</button></li>
            <li><button>Коментарии</button></li>
            <li><button>Статьи</button></li>
        </ul>
    </div>
</aside>

<div class="categories_dashboard">
    <button id="btn-category">Добавить категорию</button>
    <form action="" method="post" name="category" class="hidden">
        <input type="text" name="name" id="" placeholder="название категории">
        <input type="submit" id="">
    </form>
    {% if categories is empty %}
        <p>Нет категорий</p>
    {% else %}
        <table id="table-category">
            <tr>
                <td>ID</td>
                <td>Категория</td>
                <td>Удаление</td>
                <td>Редактирование</td>
            </tr>
            <tbody id="category_data">
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td><button id="category-delete" data-id="{{ category.id }}">удалить</button></td>
                    <td><button id="category-update" data-id="{{ category.id }}">редактировать</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
<div class="users_dashboard">
    {% if users is empty %}
        <p>Нет пользователей</p>
    {% else %}
        <table>
            <tr>
                <td>ID</td>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>email</td>
                <td>Дейсвтие</td>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.email }}</td>
                    <td><button id="user-block" data-id="{{ category.id }}">блокировать</button></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
<div class="comentes_dashboard">
    {% if comentes is empty %}
    <p>Нет коментариев</p>
{% else %}
    <table>
        <tr>
            <td>ID</td>
            <td>Коментарий</td>
            <td>Действие</td>
        </tr>
        {% for coment in comentes %}
            <tr>
                <td>{{ coment.id }}</td>
                <td>{{ coment.coment }}</td>
                <td><button id="coment-block" data-id="{{ coment.id }}">блокировать</button></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</div>
<div class="articles_dashboard">
    <form action="" method="post" name="article" class="form_update">
        <input type="text" name="title" id="article_tile" placeholder="заголовок">
        <input type="text" name="id_category" id="id_category" placeholder="id категории">
        <textarea name="subcontent" id="subcontent" cols="30" rows="10" placeholder="отрывок статьи"></textarea>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="текст статьи"></textarea>
        <div class="btnSend">
            <input type="submit" value="отправить">
        </div>

    </form>
    {% if articles is empty %}
    <p id="not_articles">Нет статьей</p>
{% else %}
    <table id="show_articles">
        <thead>
        <tr>
            <td>ID</td>
            <td>Заголовок</td>
            <td>Отрывок</td>
            <td>Удалить</td>
            <td>Редактировать</td>
        </tr>
        </thead>
        <tbody id="tbarticles">
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.subcontent }}</td>
                <td><button id="article-delete" data-id="{{ article.id }}">удалить</button></td>
                <td><button id="article-update" data-id="{{ article.id }}">изменить</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}


</div>
<script src="../../public/js/main.js"></script>

</body>
</html>
